// 匯入RWD mixin格式
@import "_grid.scss";

// 字體設定
$fs-m:14px;
$fs-l:$fs-m*1.4;
$fs-s:$fs-m*0.8;

// ------ |-> 共通區header(Start) -------s
.nav{
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	.header{
		max-width: 1366px;
		padding: 10px 50px;
		margin: 0 auto;		

		// 呼叫clearfix設定
		@include clearfix();

		.logo{
			// 浮動在左邊
			float: left;
			a{	
				background-image: url(../img/UNDElogowhitew.png);
				display: block;
				width: 150px;
				height: 50px;
				// 隱藏a標籤中的文字訊息
				text-indent:101%;
				overflow:hidden;
				white-space: nowrap;
			}
		}
		.login{
			// 浮動在右邊
			float: right;
			text-decoration: none;
			color:#fff;
			border:1px solid #fff;
			border-radius: 1px;
			padding: 15px 20px;
			font-weight: bolder;
			letter-spacing: 3px;
			font-size:$fs-s;

			// 按鈕特效(<a>display:inline-block;<a:hover>transform:translateY(2px);)
			display:inline-block;
			transition:all 0.2s;
		}
		.login:hover{
				background-color: #fff;
				color:#000;
				transition:all 0.3s;

				transform:translate(2px,2px);
			}
		.menu{
			// 浮動在右邊
			float: right;
			margin-right: 20px;
			li{
				// 水平排列
				float: left;
				padding: 15px 20px;
				a{					
					text-decoration: none;
					color:#fff;										
					font-weight: bolder;
					letter-spacing: 3px;
					padding-bottom: 10px;
					font-size:$fs-s;
				}
				a:hover{
					border-bottom: 3px solid #fff;				
					transition:all 0.1s;
				}
			}
		}
		.hidemenu{
			// PC ver.先隱藏menu
			display:none;
		}		
	}
}


// ------ |-> RWD(Start) -------
// 匯入RWD @mixin w900設定
@include w900{
		.nav .header {
			.login{padding: 15px 10px;}
			.menu {			
			li{padding:15px 10px;}
		}
	}
}

// ipad
@include ipad{
	.nav .header {
		/*上層:讓下層.menu對齊用*/
		position: relative;
		.login{
			// 先藏起來
			display:none;
			// float: right;			
		}
		.menu{
			// menu先隱藏起來：設定max-height&overflow (注意：不能使用display:none;)
			max-height: 0;
			overflow:hidden;
			/*CSS3:指定max-height特效轉場時間*/
    		transition: max-height 2.5s;
		    /*下層：對齊上層header。
	      	設定出現位置在header的下方(=102px)
	        (重要)並設定left:0,right:0,就可以讓menu左右滿版*/
		    position: absolute;
			top: 105px;
			left: 0;
			right: 0;
			margin-right: 0;
			/*將直式menu蓋在網頁最上層*/
			z-index:99;
			li{
				/*變為直式menu(取消浮動)*/
				float:none;					
				background-color:#e9f3fa;
				border-bottom: 0.5px solid #034d8a;
				// 取消橫式排版的padding
				padding: 0;
				a{	
					// 設定a寬度跟li一樣
					display: block;
					width: 100%;
					// 行高需高於44px(手指寬度為44px)
					line-height: 60px;

					text-align: center;
					color:#034d8a;	

					// 取消橫式排版的padding
					padding: 0;				
				}
				a:hover{
					border-bottom: none;
					color:#fff;
					background-color: #034d8a;
				}
			}
			li:first-child{border-top: 0.5px solid #034d8a;}			
		}
		.hidemenu{
		display:block;
		float: right;
		margin-right: 20px;
		margin-top: 10px;
		// 按鈕特效(<a>display:inline-block;<a:hover>transform:translateY(2px);)		
		display: inline-block;
		transition:all 0.2s;
		}
		.hidemenu:hover{			
			transform:translate(2px,2px);
		}
	}	
}

// mobile
 @include mobile{
 		.nav .header {
 			.logo{ 				
 				// 取消浮動狀態
 				float: none; 				
 				a{
 					// 調整位置
 					margin: 0 auto;					
 				}
 			}
 			.hidemenu{
 				// 取消浮動狀態
 				float: none;
 				// 變為按鈕,才能調整位置
 				display:block;
 				width: 32px;
 				height: 32px;
 				margin: 10px auto;				
 			}
 		}
 }

/*jQuery點擊後,顯示menu*/
 .menu-show .header  .menu {
	max-height: 303px;
}
//  ------ RWD (End) <-| -------
// ------ 共通區header(End) <-| -------



// ------ |-> 共通區footer(Start) -------
// ------ |-> 關於我們AboutUs(Start) -------
.footer{
	max-width: 100%;	
	margin: 120px auto 0 auto;
	background-color: #000;
		.ContactUs_area{
			max-width: 1366px;
			margin: 0 auto;
			opacity: 0.8;
			padding: 60px 60px 20px 60px;				
			color:#fff;
			h2{
				font-size: $fs-l;
				font-weight: bolder;
				line-height: $fs-l*1.8;
				}
			h3{
				margin-bottom: 20px;
				font-weight: bolder;
			}
			p{
				line-height: 20px;
				margin-bottom: 20px;
				line-height: $fs-m*2;
				letter-spacing: 1px;		
				span{
					font-weight: bolder;
					letter-spacing: 2px;
					}				
				}
			a{
				letter-spacing: 1px;
				color:yellow;
			}
			.googlemapIcon{
				margin-left: 10px;
			}
			h4{
				text-align: center;
				font-size:$fs-s;
				letter-spacing: 1px;
			}

		}
}
// 回到TOP icon
.topicon{
	position:fixed;
	right: 20px;
	bottom: -110px;
	z-index:5;
}
// ------ 關於我們AboutUs(End) <-| -------
// ------ 共通區footer(End) <-| -------