// 匯入RWD mixin格式
@import "_grid.scss";
// 清除浮動
@import "_clearfix.scss";
//div中的內容水平置中(Horizontal)
@import "_horizontal.scss";

// 字體設定
$fs-m:14px;
$fs-l:$fs-m*1.4;
$fs-s:$fs-m*0.8;

// ------ |-> 共通區header(Start) -------
// (2020/2/4修改-1-階層修改,將menu_login和menu拆成同一階)start
.nav{
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	.header{
		max-width: 1366px;
		padding: 10px 50px;
		margin: 0 auto;

		// 呼叫clearfix設定
		@include clearfix();

		.menu_login{
			float: right;
			.login{
				// 浮動在右邊
				float: right;
				text-decoration: none;
				color:#fff;
				border:1.5px solid #fff;
				border-radius: 2px;			
				padding: 15px 20px;
				opacity: 0.75;
				font-weight: bolder;
				letter-spacing: 3px;
				font-size:$fs-s;

				// 按鈕特效(<a>display:inline-block;<a:hover>transform:translateY(2px);)
				display:inline-block;
				transition:all 0.2s;
			}
			.login:hover{
					background-color: #fff;
					color:#000;
					transition:all 0.3s;

					transform:translate(2px,2px);
				}
			.hamburgermenu{
				// PC ver.先隱藏menu
				display:none;
			}		
		  }

		.menu{
			// 浮動在右邊
			float: right;
			margin-right: 20px;
			li{
				// 水平排列
				float: left;
				//(2020/1/31修改)start-按鈕主要設定在<a>,增加點擊範圍。li只下左右padding(美觀,讓border-bottom不要太長)
				padding: 0 20px;
				a{					
					text-decoration: none;
					color:#fff;										
					font-weight: bolder;
					letter-spacing: 3px;
					// padding-bottom: 10px;
					font-size:$fs-s;

					//(2020/1/31修改)start- <a>設定display:block+padding上下(左右寬度下在li),增加按鈕點擊範圍
					display: block;
					padding: 15px 0;
					//(2020/1/31修改)end
				}
				a:hover{
					border-bottom: 3px solid #fff;
					border-bottom-width: 20%;			
					transition:all 0.1s;
				}
			}
		}

		.logo{
			// 浮動在左邊
			float: left;
			a{	
				background-image: url(../img/UNDElogowhitew.png);
				display: block;
				width: 150px;
				height: 50px;
				// 隱藏a標籤中的文字訊息
				text-indent:101%;
				overflow:hidden;
				white-space: nowrap;
			}
		}
	}
}



// ------ |-> RWD(Start) -------
// w900設定
@include w900{
		.nav .header {
			.menu_login{				
				.login{
					padding: 15px 10px;
				}
	  }
			.menu {			
				li{
					padding:0 10px;
					a{
						letter-spacing: 2px;
						}
					}
			}
	}
}

// ipad
@include ipad{
	.nav .header {		
		padding: 10px 10px;
		
		// (2020/1/30修改)start
		background-color: #000;
		// (2020/1/30修改)end

		/*上層:讓下層.menu對齊用*/
		position: relative;

		.menu_login{
			margin-bottom: 10px;
			.login{
				padding: 10px 20px;
				margin-top: 8px;
				float: right;
				margin-right: 10px;				
			}
			.hamburgermenu{
			display:block;
			float: right;
			margin-right: 10px;
			margin-top: 10px;
			// 按鈕特效(<a>display:inline-block;<a:hover>transform:translateY(2px);)		
			display: inline-block;
			transition:all 0.2s;
			}
			.hidemenu:hover{			
				transform:translate(2px,2px);
			}
		}
		.menu{
			// menu先隱藏起來：設定max-height&overflow (注意：不能使用display:none;)
			max-height: 0;
			overflow:hidden;
			/*CSS3:指定max-height特效轉場時間*/
    		transition: max-height 2.5s;
		    /*下層：對齊上層header。
	      	設定出現位置在menu_login的下方大於54px)
	        (重要)並設定left:0,right:0,就可以讓menu左右滿版*/
		    position: absolute;
			top: 60px;
			left: 0;
			right: 0;
			margin-right: 0;
			/*將直式menu蓋在網頁最上層*/
			z-index:99;
			li{
				/*變為直式menu(取消浮動)*/
				float:none;					
				background-color:#000;
				border-bottom: 0.5px solid #fff;
				// 取消橫式排版的padding
				padding: 0;
				a{	
					// 設定a寬度跟li一樣
					display: block;
					width: 100%;
					// 行高需高於44px(手指寬度為44px)
					line-height: 60px;

					text-align: center;
					color:#fff;	

					// 取消橫式排版的padding
					padding: 0;				
				}
				a:hover{
					border-bottom: none;
					color:#fff;
					background-color: #034d8a;
				}
			}
			li:first-child{border-top: 0.5px solid #fff;}			
		}
	}
}


// mobile
 @include mobile{
 		.nav {

 			.header { 
 				.menu_login{
					float: none;

					// 呼叫clearfix設定
					@include clearfix();

		 			.login{
		 				float: right;
						}
					.hamburgermenu{						
						float: right;
						margin-right: 0;
	 					}
	 				}
		 			.logo{
		 				float: none;	
		 				
		 				// 將div中的內容水平置中
		 				@include horizontal();

		 			} 		
 				}
  		}
 }

/*jQuery點擊後,顯示menu*/
 .menu-show .header .menu {
	max-height: 375px;
}
//  ------ RWD (End) <-| -------
// (2020/2/4修改-1-階層修改)end
// ------ 共通區header(End) <-| -------



// ------ |-> 共通區footer(Start) -------
// ------ |-> 關於我們AboutUs(Start) -------
.footer{
	max-width: 100%;	
	margin: 120px auto 0 auto;
	background-color: #000;
		.ContactUs_area{
			max-width: 1366px;
			margin: 0 auto;
			opacity: 0.8;
			padding: 60px 60px 20px 60px;				
			color:#fff;
			h2{
				font-size: $fs-l;
				font-weight: bolder;
				line-height: $fs-l*1.8;
				}
			h3{
				margin-bottom: 20px;
				font-weight: bolder;
			}
			p{				
				margin-bottom: 20px;
				line-height: $fs-m*2;
				letter-spacing: 1px;				
				span{
					font-weight: bolder;
					letter-spacing: 2px;
					background-color: #fff;
					color:#000;
					padding-left: 5px;
					padding-right: 5px;
					}				
				}
			a{
				letter-spacing: 1px;
				color:yellow;
			}
			.googlemapIcon{
				margin-left: 10px;
			}
			h4{
				text-align: center;
				font-size:$fs-s;
				letter-spacing: 1px;
			}

		}
}
// 回到TOP icon
.topicon{
	position:fixed;
	right: 20px;
	bottom: -110px;
	z-index:5;
}
// ------ 關於我們AboutUs(End) <-| -------


// ------ |-> RWD(Start) -------
@include mobile{
	.footer{	
		.ContactUs_area{			
			p{				
				line-height: $fs-m*1.5;
				}
			}
		}
}
//  ------ RWD (End) <-| -------

// ------ 共通區footer(End) <-| -------