// reset css
// CSS reset
@import "_reset.scss";
// 清除浮動
@import "_clearfix.scss";
// 共通頁面(header,footer)
@import "_headerfooter.scss";

// 字體設定
$fs-m:14px;
$fs-l:$fs-m*1.4;
$fs-s:$fs-m*0.8;

// 各區標題設定
@mixin titleset{
		margin-bottom: 30px;
		letter-spacing: 3px;
		text-align: center;
		font-size: $fs-l;
		font-weight: bolder;
}

// =============正式內容====================

*{
	// CSS3語法:讓div的寬度不被padding,border影響
	box-sizing: border-box;
	// 舊firefox用
	-moz-box-sizing:border-box;
	// 舊Ghrome用
	-webkit-box-sizing:border-box;
	font-size:$fs-m;
}

body{
	font-family:Arial, Helvetica,"微軟正黑體" ,sans-serif;
	background-color: #fff;
}

// ------ |-> 共通區header(Start) -------
.wrap{	
	width: 100%;
	margin: 0 auto;	
}


// ------ |-> 主視覺main_image(Start) -------
.main_image{
	position:relative;

	// 呼叫clearfix設定
	// @include clearfix();
			
	.main_image_bg{
		max-width: 1920px;
		.img{	
			// max-width: 1920px;
			z-index:1;
			opacity:0;
		}
	}	
	>img{
		position: absolute;
		top: 0;
		left: 0;
		z-index:2;
	}
}

.arrow{
	// 對齊上層wrap
	position:absolute;	
	left: 50%;
	z-index:9;
	cursor:pointer;	
	// 先隱藏起來,再用jQuery做動畫效果
	display:none;
	opacity: 0;
}


// // ------ |-> RWD(Start) -------
// 匯入RWD @mixin設定
// 手機板主視覺圖片高度固定
@include mobile{
	.main_image{
		.main_image_bg{
			max-width: 100%;
			.img{}
			}
	>img{
		max-width: 758px;
		height: 375px;}
	}
}
//  ------ RWD (End) <-| -------

// ------ 主視覺main_image(End) <-| -------



// ------ |-> 新聞區News(Start) -------
#News{
	max-width: 1366px;
	margin: 0 auto;
	padding-top: 80px;

	// 呼叫clearfix設定
	@include clearfix();
	
	h3{
		// 呼叫@mixin設定
		@include titleset;
	}
	.newslist{
		li{
			// 水平排列
			float:left;
			width: 31.33333%;
			margin-left: 1%;
			margin-right: 1%;
			// 更新
			margin-bottom: 20px;
			img{
				margin-bottom: 20px;
			}
			h2{
				padding: 0 20px 20px 20px;				
				>a{
					// padding: 0 20px 20px 20px;
					font-size: $fs-l;
					font-weight: bolder;
					line-height: $fs-l*1.5;
					// text-decoration: none;
					color:#000;
					}
				}
			p{
				padding: 0 20px 5px 20px;
				text-align:justify;
				line-height: 20px;
				letter-spacing: 1px;

				a{
					float:right;
					// padding-right: 20px;
					font-size: $fs-m*0.8;
					color:brown;
					text-decoration: underline;
				}
			}
		}
	}	
}

// // ------ |-> RWD(Start) -------
// 匯入RWD @mixin設定
@include ipad{
	#News{
		.newslist{
			li{
				width: 48%;
			}
		}
	}
}
@include mobile{
	#News{
		padding-top: 250px;
		.newslist{
			li{
				width: 98%;				
			}
		}
	}
}
// #News{
// 		.newslist{
// 			li{
// 				@include ipad{width: 48%;}
// 				@include mobile{width: 98%;}

// 			}
// 		}
// 	}
//  ------ RWD (End) <-| -------
// ------ 新聞區News(End) <-| -------


// ------ |-> 關於我們AboutUs(Start) -------
#AboutUs{
	max-width: 1366px;
	margin: 0 auto;
	padding-top: 80px;	

	// 呼叫clearfix設定
	@include clearfix();

	h3{
		// 呼叫@mixin設定
		@include titleset;
	}
	.AboutUs_area{
		// 讓下層對齊用
		position: relative;
		margin-left: 3%;
		margin-right: 3%;			

		img{}
		p{
			// 對齊上層(.AboutUs_area)
			position:absolute;
			top: 10%;
			right: 5%;

			// 水平排列
			float:right;
			width:40%;
			padding: 20px 20px 10px 20px;		
			background-color: #000;
			opacity:0.8;
			color:#fff;
			text-align:justify;
			line-height: 24px;
			font-size: $fs-m;			

			span{
				line-height: 35px;
			}
		}
	}
}

// // ------ |-> RWD(Start) -------
// 匯入RWD @mixin設定
#AboutUs{		
	.AboutUs_area{
		img{@include mobile{height: 300px;}}
		p{
			@include w900{width: 50%;}
			@include ipad{width: 90%;}
			@include mobile{top: 5%;}
			span{
				@include mobile{
					line-height:20px;
					font-size: $fs-s;
				}		
			}			
		}
	}
}

//  ------ RWD (End) <-| -------
// ------ 關於我們AboutUs(End) <-| -------

