// CSS reset
@import "_reset.scss";
// 清除浮動
@import "_clearfix.scss";
// 共通頁面(header,footer)
@import "_headerfooter.scss";
//div中的內容水平置中(Horizontal)
@import "_horizontal.scss";

// 字體設定
$fs-m:14px;
$fs-l:$fs-m*1.4;
$fs-s:$fs-m*0.8;

// hover效果
$hover-bg:#034d8a;
$hover-c:#fff;



// =============正式內容====================

*{
	// CSS3語法:讓div的寬度不被padding,border影響
	box-sizing: border-box;
	// 舊firefox用
	-moz-box-sizing:border-box;
	// 舊Ghrome用
	-webkit-box-sizing:border-box;	
	// 頁面文字大小
	font-size:$fs-m;
}

body{
	font-family:Arial, Helvetica,"微軟正黑體" ,sans-serif;
	background-color: #fff;
	// background-image:url(../img/bg_blue-snow.png); 
}

// ------ |-> 最外層wrap(Start) -------
.wrap{
	width: 100%;
	margin: 0 auto;	
}
// ------ 最外層wrap(End) <-| -------

// ------ |-> 導覽列nav(Start) -------
.nav{
  background-color: #000;
}
// ------ 導覽列nav(End) <-| -------


// <!-- ===============Product頁面主要內容start=============== -->
.Product{
	max-width: 1366px;
	margin: 0 auto;
	
	// 調整此區上下間距(需在此區用padding調整,才不會變成白底)
	padding-top: 120px;
	padding-bottom: 80px;
	// background-color: yellow;

	// 消除該層浮動狀態
	@include clearfix();

// <!-- ===============搜尋商品&購物車=============== -->
.Search_Shop{	
	max-width: 1366px;
	margin-right: 3%;
	// 清除此區浮動狀態
	@include clearfix();

	// <!-- ===============購物車=============== -->
	.Shopping_cart{		
		float: right;
		background-color: #cae0ee;

		// <a>中置入圖片
		background-image: url(../img/shopcart24.png);
		background-repeat: no-repeat;		
		background-position: 10px 10px;


		font-size:$fs-l;
		font-weight: bolder;
		text-decoration: none;
		color:#000;

		border: 3px solid  #000;
		border-radius: 5px;
		padding: 15px 20px 10px 40px;

		// 按鈕特效(<a>display:inline-block;<a:hover>transform:translateY(2px);)
		display:inline-block;
		transition:all 0.2s;
	}
	.Shopping_cart:hover{
		background-color: $hover-bg;
		color:$hover-c;

		transform:translate(2px,2px);
	}

	// <!-- ===============搜尋商品=============== -->
	.Search_form{					
		float: right;
		margin-right: 5%;
		margin-top: 5px;
		input{			
			line-height: 24px;
			border:3px solid #000;			
			border-radius: 15px;
			padding:5px 150px 5px 15px;			
			}
		// 消除點擊input時預設的藍框
		input:focus{
			outline:none;
			}
		.search_bt{
			float: right;
			margin-left: 5px;
			
			background-color: #cae0ee;
			
			border:3px solid #000;			
			border-radius: 10px;
			padding: 3px 5px;
			}
		}
}

// <!-- ===============類別區=============== -->
.Product_category{
	float: left;
	// 類別區比例
	width: 20%;
	margin-left: 3%;
	margin-right: 3%;
	// background-color: green;	
	
	h4{
		font-size: $fs-l;
		font-weight: bolder;
		line-height: 40px;
		letter-spacing: 0.5px;	
	}
	.select{
		padding-left: 20px;

		li{
			border-bottom: 1px solid #000;			
			a{
				font-weight: bolder;
				letter-spacing: 1px;
				display:block;
				padding: 15px 5px 15px 5px;
			}
			a:hover{
				background-color: $hover-bg;
				color:$hover-c;
				transition:all 0.3s;
			}
		}
	}
}

// <!-- ===============選擇商品=============== -->
	.Producut_menu_select{
		margin-top: 15px;
		// 與Product_category水平排列
		float: left;
		width: 71%;
		margin-right: 3%;

		// 清除此區浮動狀態
		@include clearfix();
		
		li{
			// 水平排列
			float: left;
			// PC版:一排四個商品
			width: 23%;
			height: 320px;
			margin-left: 1%;
			margin-right: 1%;
			margin-bottom: 20px;
			border:1px solid #000;
			border-radius: 10px;
			padding: 15px 10px;
			text-align: center;
			box-shadow: 2px 2px gray;
			background-color: #e9f3fa;			
			// 讓下層(hottag)對齊用
			position: relative; 
				
			// 更新
			// 按鈕特效(<a>display:inline-block;<a:hover>transform:translateY(2px);)
			display:inline-block;
			transition:all 0.2s;

			a{
				img{
					margin-bottom: 10px;					
				}
				.hottag{
					// 對齊上層li
					position: absolute;					
					top: 20px;
					right: 15px;
					background-color: red;					
					padding:10px 8px;					
					color:#fff;
					font-weight: bolder;								
				}			
			}
			.select_info{
			h2{				
				height: 65px;				
				span{
					font-size: $fs-l;
					line-height: $fs-l*1.5;	
					display:inline-block;
					// margin-bottom: 30px;				
				}
			}
			p{
				margin-top: 10px;				
				margin-bottom: 20px;
				letter-spacing: 2px;
				span{
					font-size: $fs-l*1.1;
					font-weight: bolder;
					letter-spacing: 1px;
				}
			}

			// 更新
			// 追蹤商品
			.follow{
				border-radius: 20px;
				background-color: gray;
				font-weight: bolder;
				color:$hover-c;
				padding-top: 10px;
				padding-bottom: 10px;
				// padding: 10px 20px;
				transition:all 0.2s;

				width: 30%;
				margin-left: 5%;
				margin-right: 1%;
				
				float: left;

				// 按鈕特效(<a>display:inline-block;<a:hover>transform:translateY(2px);)
				 display: inline-block;
			}
			.follow:hover{
				background-color: #000;
				color:$hover-c;			
				transform: translate(2px,2px);
			}

			// 加入購物車
			.carin{
				border-radius: 20px;
				background-color: brown;
				font-weight: bolder;
				color:$hover-c;
				padding-top: 10px;
				padding-bottom: 10px;				
				transition:all 0.2s;

				width: 60%;
				margin-left: 1%;
				margin-right: 3%;
				float: left;

				// 按鈕特效(<a>display:inline-block;<a:hover>transform:translateY(2px);)
				 display: inline-block;
			}
			.carin:hover{
				background-color: $hover-bg;
				color:$hover-c;			
				transform: translate(2px,2px);
			}
		}
	}
		li:hover{
			background-color: #cad5f0;
			// color: #002c8b;		
			transform:translate(2px,2px);
			// 滑鼠變為手指形狀
			cursor:pointer;	
		}
	}
  }
  .page{
  	text-align: center;
  	a{
  		color:brown;
  		text-decoration: none;
  	}  
}

// // ------ |-> RWD(Start) -------
// 匯入RWD @mixin設定
// =====w900=====
@include w900{
.Product{	
	.Producut_menu_select{		
			li{	
				// w900(寬900px以下):一排三個商品				
				width:31.33333%;							
			}			
		}		
	}
}
// =====w900 end=====


// =====ipad=====
@include ipad{
	.Product{	
		padding: 120px 3% 80px 3%;	
	// <!-- ===============搜尋商品、購物車=============== -->	
	.Search_Shop{
		// <!-- ===============購物車=============== -->
		.Shopping_cart{}
		.Search_form{			
				margin-right: 10px;
				margin-bottom: 10px;
				float: left;

				// 清除此區浮動狀態
				@include clearfix();	
			
			input{}
			.search_bt{}
	  	}
	}	
	// <!-- ===============類別區=============== -->
	.Product_category{		
			float: none;
			width: 100%;
			margin: 0;

			h4{
				display: none;
				}
			.select{
				padding-left: 0;
				li{				
					// 變為水平排列
					float: left;
					margin-right: 2%;
					border-bottom: none;				
			}
		}		
	}

	.Producut_menu_select{		
			width: 100%;
			margin-right: 0;
			float: none;	
			margin-bottom: 10px;					
			li{
				width: 48%;
				height: auto;


				}			
			}
		
	}
}
// =====ipad end=====

//===== mobile=====
@include mobile{
	.Product{
		padding-top: 135px;

		// 清除此區浮動狀態
		@include clearfix();	
	// <!-- ===============搜尋商品、購物車=============== -->	
	.Search_Shop{		
		// <!-- ===============購物車=============== -->
		.Shopping_cart{			
				float: right;
				margin-bottom: 10px;
		
		}
		.Search_form{			
				float: left;
				max-width: 100%;
				margin-right: 0;				

			input{
				padding-right: 35px;				
			}
			.search_bt{
				float: right;								
			}
	  	}
	}	
	// <!-- ===============類別區=============== -->
	.Product_category{
				// 清除此區浮動狀態
				@include clearfix();
					margin-top: 5px;
					margin-bottom: 15px;
				.select{

					li{
						// padding: 0;										
						a{
							padding-top: 5px;
							padding-bottom: 5px;
						}
					}
			}	
	}

	.Producut_menu_select{
		margin-top: 0;
			li{	
				// mobile:一排一個商品
				width: 98%;
				height: auto;
				a{				
					float: left;
					width: 50%;				  

					img{}
					.hottag{						
						width: 48%;
						left: 10px;
						top: 10px;							
					}
				}

					.select_info{
						width: 48%;
						margin-left: 2%;
    					float: right;
						h2{}
				
						.follow{
						}
						.carin{				
						}
					}				
			}			
		}

	}
}
// ====mobile end=====

//  ------ RWD (End) <-| -------

// !-- ===============Product頁面主要內容end=============== -->

.footer{
	margin-top: 0;
}